.contacts-title {
  padding-top: 2rem;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.user {
  border-radius: 100px;
}

.contacts {
  padding-top: 1.4rem;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  padding-bottom: 2rem;
}

.contact-name {
  padding-top: 0.5rem;
  text-align: center;
}

.username-post {
  font-weight: 600;
  font-size: 1.6rem;
}

.user-post-text {
  line-height: 2rem;
}

.gray {
  color: #6f7781;
}
